body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin: 0%;
  padding: 0%;
  color: yellow;
  background-color: black;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: black;
  color: #A0A0A0;
  margin: 0;
  float: left;
  width: 100%;
}

.navbar a {
  color: #A0A0A0;
  padding: 2%;
  font-size: 17px;
  text-align: center;
}

.navbar a:hover {
  background-color: #B8B8B8;
}

footer {
  background-color: #A0A0A0	;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  text-align: center;
}

/* .large-hero-img {
  position: relative;
  max-width: 100%;
  } */

.body-margin {
  margin: 5%;
}

input {
  border-radius: 5px;
}

li {
  display: inline;
}

li a {
  padding: 8px;
  /* background-color: grey; */
}

.soundcloud:active {
  color: black;
}

h1 {
  padding: 15px;
  text-align: center;
}

div {
  margin-bottom: 10px;
}

.music {
  color: black;
  text-decoration: none;
}

/* .small-hero {

}

.medium-hero {

}

.large-hero {
  background-repeat: no-repeat; 
} */

.media-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  align-items: center;
}
.media-player {
  display: flex;
  justify-content: center;
  margin: 10px;
  float: left;
  align-items: center;
  
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

a {
  padding: 5px;
  color: #C0C0C0
}
button {
  background: transparent;
  color: white;
  outline: none;
  padding: 15px;
  border-radius: 10px;
}


.button {
  text-decoration: none;
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#more {
  display: none;
}

@media (max-width: 600px) {
  body {
    color: white;
  }
  .large-hero {
    background-image: url(assets/images/emy6-S.jpg);
    padding: 100px;
  }
  /* #more {
    display: none;
  } */
}

@media (min-width: 601px) and (max-width: 780px) {
  body {
    color: red;
  }
  .large-hero {
    background-image: url(assets/images/emy6-M.jpg);
    padding: 200px;
  }
  /* #more {
    display: none;
  } */
}

@media (min-width: 781px) {
  body {
    color: green;
  }
  .large-hero {
    background-image: url(assets/images/emy6-L.jpg);
    padding: 300px;
  }

}



/*  USE THIS TO HIDE THE BURGER MENU WHEN IS BIGGER THAN MOBILE ?
@media screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}
 */


