@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: black;
  text-align: justify;
  /* margin: 0%; */
  /* padding: 0%; */
  color: white;
  outline: none;
}

a {
  transform-origin: 100px top;
}
.logo_svg {
  max-width: 15%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  backdrop-filter: blur(3px);
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 1rem;
  padding: 0.5em 1em;
  transition: background 0.3s ease-in-out;
}

.menu-items li a:hover {
  background-color: #ccc7d3;
}

.section {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  background-color: #dfdbe5;
  background-image: url('assets/images/emy6-L.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  /* height: auto; */
  /* position: absolute; */
}

.hero-col {
  padding: clamp(1rem, 8vw, 5rem);
}

.bio-section {
  display: block;
  height: auto;
}

.media-section {
  display: block;
  height: auto;
  position: relative;
  color: grey;
  background-color: #020202;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23302f31' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.social-media {
  margin-top: 20px;
  text-decoration: none;
display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section {
  text-align: center;
}

a[href^="mailto"] { 
  color: inherit; 
  text-decoration: none;
  outline: none;
}

a[href^="mailto"]:visited { 
  color: inherit; 
  text-decoration: none;
  outline: none;
}


footer {
  background-color: #A0A0A0;
  color: black;
  margin: 0;
  padding: 5px;
  float: left;
  width: 100%;
  text-align: center;
}

.body-margin {
  margin: 5%;
}

h1 {
  padding: 15px;
  text-align: center;
}

.media-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  align-items: center;
  padding: 15%;
}
.media-player {
  display: flex;
  justify-content: center;
  margin: 10px;
  float: left;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 5%;
}

  /* BURGER MENU  */
  .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    -webkit-tap-highlight-color: transparent;
  }

  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47,.2);
    transition: all .5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* burger animation */
  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

 
  #myBtn {
    display: flex;
    font: inherit;
    padding: 5px;
    font-size: 20px;
  }
  #myBtn:visited {
    display: flex;
    font: inherit;
    padding: 5px;
    font-size: 30px;
    text-decoration: none;
  }

  .social-media-logo {
    max-width: 35px;
    min-width: 35px;
    
  }

  .social-media-icons-spacing-span {
    margin: 15px;
  }

  .icon-instagram:hover {
    filter: invert(25%) sepia(49%) saturate(4775%) hue-rotate(301deg) brightness(87%) contrast(93%);
  }

  .icon-facebook:hover {
    filter: invert(0.6) sepia(1) saturate(5) hue-rotate(175deg);
  }
  .icon-soundcloud:hover {
    filter: invert(52%) sepia(54%) saturate(4039%) hue-rotate(2deg) brightness(105%) contrast(105%)
  }
  .icon-spotify:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(70deg);
  }

/* MOBILE */
@media (max-width: 768px) {
  body {
    color: white;
  }

  .hero-section {
    background-color: #dfdbe5;
    background-image: url('assets/images/emy6-S.JPG');
    background-repeat: no-repeat;
;
    /* background-size: cover; */
    width: auto;
    /* position: absolute; */
  }

  .logo_svg {
    max-width: 35%;
  }

  .media-player {
    float: initial;
  }
  
  .menu-btn {
    display: flex;
  }

  /* #myBtn {
    display: flex;
    text-decoration: none;
  } */
  
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: grey;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  .menu-items.open {
    transform: translateX(0);
  }

  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #fff;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .menu-items li a:hover {
    color: #111
  }

}

/* DESKTOP */
@media (min-width: 769) {
  body {
    /* color: green; */
  }

  .hero-section {
    background-color: #dfdbe5;
    background-image: url('assets/images/emy6-L.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: auto; */
    /* position: absolute; */
  }
  /* .media-players {
    margin-left: 10px;
    margin-right: 10px;
  } */
  .media-players-pair1 {
    display: block;
    float: left;
  }

  .media-players-pair2 {
    display: block;
    float: right;
  }


  .icon-instagram:hover {
    filter: invert(25%) sepia(49%) saturate(4775%) hue-rotate(301deg) brightness(87%) contrast(93%);
  }

  .icon-facebook:hover {
    filter: invert(0.6) sepia(1) saturate(5) hue-rotate(175deg);
  }
  .icon-soundcloud:hover {
    filter: invert(52%) sepia(54%) saturate(4039%) hue-rotate(2deg) brightness(105%) contrast(105%)
  }
  .icon-spotify:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(70deg);
  } 


};

